---
import GoBack from "../assets/icons/GoBack.astro";
import Hover from "../components/Hover.astro";
import { Tech, TechStack } from "../pages/index.astro";

export interface Props {
  title: string;
  image: string;
  links?: Link[];
  techStack: Tech[];
}

export type Link = {
  url: string;
  icon: any;
  label: string;
};
const { title, image, links, techStack } = Astro.props;
---

<div class="flex flex-col items-center">
  <header class="flex flex-col w-[calc(100*var(--vw))] xl:w-[1120px] my-5">
    <div class="flex mb-5 justify-between items-center">
      <a
        href="/#projects"
        class="[&>svg]:fill-white hover:animate-pulse [&>svg]:h-32 [&>svg]:xl:w-12 ml-5 z-10"
        ><GoBack /></a
      >
      <svg
        width="71"
        height="69"
        viewBox="0 0 71 69"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 4H67V65M13.3978 15.569H55.5138V56.2356"
          stroke="white"
          stroke-width="8"
          stroke-linecap="round"
          stroke-dasharray="16 16"></path>
      </svg>
    </div>
    <div class="flex justify-center">
      <div
        class="flex flex-col w-[90%] h-[550px] items-end bg-no-repeat rounded-xl mt-[250px] xl:mt-0"
        style=`background-image: url('${image}'); background-size: auto 450px;`
      >
        <div
          class="flex-1 flex flex-col items-center xl:mt-16 xl:mr-0 mt-[-250px] self-center xl:self-end"
        >
          <div class="text-7xl xl:text-4xl">{title}</div>
          <ul class="flex mt-9 gap-5 xl:gap-1">
            {
              techStack.map((t) => {
                const tech = TechStack[t];
                return (
                  <li>
                    <Hover class="[&>svg]:h-24 [&>svg]:xl:h-12">
                      <div slot="hover">{tech.name}</div>
                      <tech.icon />
                    </Hover>
                  </li>
                );
              })
            }
          </ul>
        </div>
        <div
          class="w-[800px] min-h-[270px] max-h-[350px] bg-slate-800 border-2 border-slate-700 rounded-lg drop-shadow-xl flex flex-col items-center p-9"
        >
          <span class="flex-1 text-2xl">
            <slot name="description" />
          </span>
          <ul class="flex self-end items-center justify-end gap-8 mt-2">
            {
              links &&
                links.map((l) => (
                  <li class="">
                    <a
                      href={l.url}
                      target="_blank"
                      class="flex gap-3 items-center text-2xl [&>svg]:w-9 [&>svg]:h-9"
                    >
                      <l.icon />
                      <div class="flex">{l.label}</div>
                    </a>
                  </li>
                ))
            }
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
<main class="flex self-center items-center flex-col">
  <div class="w-[1000px] flex flex-col text-4xl xl:text-xl">
    <slot />
  </div>
  <div class="w-[1120px] flex">
    <svg
      width="71"
      height="69"
      viewBox="0 0 71 69"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="rotate-180 mb-12"
    >
      <path
        d="M4 4H67V65M13.3978 15.569H55.5138V56.2356"
        stroke="white"
        stroke-width="8"
        stroke-linecap="round"
        stroke-dasharray="16 16"></path>
    </svg>
  </div>
</main>

<style></style>
